.score {  
    display: flex;
    flex: 1;
    justify-content: space-between;   
    gap: 5rem; 
    padding: 1rem 2rem;    
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; 
    
    .score-text {
        position: relative;
        font-size: 1.3rem;    
        color: rgb(243, 183, 53);
        margin-right: 2rem; 
    }

    .score-number {
        position: absolute;
        top: -.4rem;
        right: -2rem;
        color: rgb(211, 211, 211);
        text-shadow: none;
        font-size: 1.8rem;      
        font-family:  "Super bubble", sans-serif;     
    }

    :nth-child(2) {
        color: rgb(70, 149, 240);      
    }
}

.cards-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1.2rem;
    padding-top: 2rem;
    animation: pop-in 0.5s;    
}

@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

.card {
    position: relative;
    cursor: pointer;
    width: 7rem;
    height: 11rem;   
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}

.card.flipped {
    transform: rotateY(180deg);   
    transition: transform 0.6s ease;     
}

.card-face:hover {
    scale: 1.02;
    transition: scale 0.2s ease-in-out;      
}

.card-face:active {
    scale: .98;
}

.card-face,
.card-back {     
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    border: solid 1px var(--cardColor);
    border-radius: 12px; 
    overflow: hidden; 
    backface-visibility: hidden;       
}

.card-face > img,
.card-back > img {
    width: 100%;
    height: 100%;    
}

.card-back {   
    transform: rotateY(180deg);      
}

.disabled {
    pointer-events: none;
}

.blink {  
    animation: blinker 0.4s linear infinite;    
}

.blink::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 3, 3, 0.4);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* --------------- TABLET STYLES --------------- */

@media (min-width: 600px) {
    .score {         
        .score-text {          
            font-size: 1.5rem;        
        }
    
        .score-number {         
            font-size: 2rem;                
        }      
    }

    .card {
        width: 11rem;
        height: 17rem;
    }
}

/* --------------- DESKTOP STYLES --------------- */

@media (min-width: 1024px) {
    .score {
        position: relative;    
        justify-content: center;      
        padding-bottom: .8rem;      
    
        :nth-child(2) {          
            position: absolute;
            right: 1.5rem;
        }
    }

    .cards-container {      
        gap: 1.5rem;   
        padding: 2.5rem;
    }

    .card {
        width: 14rem;
        height: 22rem;
    }      
}