.loading-screen img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 10rem;
}

.loader { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4, jump-none) infinite;
}

.preloading-images-container {   
    position: relative;
    visibility: hidden;

    img {
        position: absolute;
        width: 6rem;
        height: 10rem; 
    }
}
  
@keyframes l {
    to {
      clip-path: inset(0)
    }
}

/* --------------- TABLET STYLES --------------- */

@media (min-width: 600px) {
    .loader {
        font-size: 1.4rem;
    }

    .loading-screen img {
        width: 14rem;
    }

    .preloading-images-container img {
        width: 8rem;
        height: 13rem;
    }
}

/* --------------- DESKTOP STYLES --------------- */

@media (min-width: 1024px) {
    .loading-screen img {
        width: 22rem;
    }

    .preloading-images-container img {
        width: 10rem;
        height: 16rem;
    }      
}