.loading-screen > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.loader { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    color: white;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4, jump-none) infinite;
}

.preloading-images-container {
    position: absolute;
    visibility: hidden;

    img {
        width: 14rem;
        height: 22rem;
    }
}
  
@keyframes l {
    to {
      clip-path: inset(0)
    }
}