.win-screen {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;         
}

.win-image-container img{            
    height: 100%;
}  

.win-message-container {
    display: grid;
    justify-items: center;  
    gap: 2rem;
    color: rgb(243, 183, 53);
    font-size: 1.6rem;
    margin-bottom: 8rem;

    button { 
        cursor: pointer;       
        color: rgb(212, 212, 212);
        font-family: "Cartoon", sans-serif; 
        font-size: 1.3rem;
        background-color: transparent;
        border: solid 2px rgb(207, 206, 206);
        border-radius: 16px;
        padding: .5rem 1.5rem;
        
        &:hover {
            color: black;
            background-color: rgb(194, 192, 192);
        }
    }
}

/* ----------------DESKTOP 2K+ --------------- */

@media (min-width: 1980px) { 
    .win-image-container {            
        height: 60vh;
    }               
}

