@font-face {        
    font-family: "Cartoon";   
    src: url("/home/dmitry/repos/memory-card/src/assets/fonts/Cartoon.otf")
    format("woff2");
}

@font-face {        
    font-family: "Super bubble";   
    src: url("/home/dmitry/repos/memory-card/src/assets/fonts/SuperBubble.ttf")
    format("woff2");
}

:root {
    --cardColor: rgb(12, 12, 12, 0.1);
    --headerHeight: 3.5rem;
    --headerHeight2k: 6rem;
}

body, html, #root {  
    min-height: 100vh;
    user-select: none;  
}

body {     
    margin: 0;   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Cartoon", sans-serif;       
}

#root {
    position: relative;  
    margin: auto; 
}

h1, h2, h3 {
    margin: 0;  
    text-align: center;    
}

img {
    -webkit-user-drag: none;
}

header { 
    display: grid;
    align-content: center;   
    height: var(--headerHeight);
    width: 100%;        
    
    h1 {        
        color: rgb(67, 207, 67);
        font-size: 1.3rem;      
    }    
}

header,
.score {   
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px 0px 0 #000,
        3px 0px 0 #000,
        0px -3px 0 #000,
        0px 3px 0 #000;    
}

.gameboard-section,
.loading-screen,
.win-screen {
    height: calc(100% - var(--headerHeight));
}

/* --------------- DESKTOP STYLES (2K)--------------- */

@media (min-width: 1980px) {
    header {
        height: var(--headerHeight2k);

        h1 {
            font-size: 2rem;
        }        
    }

    .gameboard-section,
    .loading-screen,
    .win-screen {
        height: calc(100% - var(--headerHeight2k));
    }           
}


